<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul id="side-menu" class="nav in">
      <li>
        <%= link_to "#", class: "active" do %>
          <i class="fa fa-dashboard fa-fw"></i>
          <%= t ".dashboard"  %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-bar-chart-o fa-fw"></i>
          <%= t ".order"  %>
        <% end %>
      </li>
      <li>
        <%= link_to admin_categories_path do %>
          <i class="fa fa-bar-chart-o fa-fw"></i>
          <%= t ".category"  %>
        <% end %>
      </li>
      <li>
        <%= link_to admin_products_path do %>
          <i class="fa fa-bar-chart-o fa-fw"></i>
          <%= t ".product"  %>
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path do %>
          <i class="fa fa-bar-chart-o fa-fw"></i>
          <%= t ".user"  %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-bar-chart-o fa-fw"></i>
          <%= t ".history"  %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-bar-chart-o fa-fw"></i>
          <%= t ".suggest"  %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
