<div class="clear-fix"></div>
<section id="section-content" class="content page-29 moto-section">
  <div class="moto-widget moto-widget-row row-fixed">
    <div class="container-fluid">
      <div class="row">
        <div class="moto-cell col-sm-12">
          <div class="moto-widget moto-widget-text moto-preset-default
            moto-spacing-top-large moto-spacing-right-auto
            moto-spacing-bottom-auto moto-spacing-left-auto">
              <div class="moto-widget-text-content moto-widget-text-editable">
                <p class="moto-text_system_4 text-center">
                  <span class="moto-color_custom5">
                    <%= t".card" %>
                  </span>
                </p>
              </div>
          </div>
          <div class="moto-widget moto-widget-divider moto-preset-default
            moto-align-center moto-spacing-top-small moto-spacing-right-auto
            moto-spacing-bottom-small moto-spacing-left-auto">
              <hr class="moto-widget-divider-line">
          </div>
          <div class="moto-widget moto-widget-store-product-grid
            moto-preset-default moto-spacing-top-small
            moto-spacing-right-auto moto-spacing-bottom-auto
            moto-spacing-left-auto ">
            <div class="row">
              <div class="col-lg-12">
                <table id="dataTables-example" class="table table-striped
                  table-bordered table-hover dataTable no-footer dtr-inline">
                  <thead>
                    <th class="text-center col-sm-1 col-md-1">#</th>
                    <th class="text-center col-sm-3 col-md-3">
                      <%= t ".product_image" %></th>
                    <th class="text-center col-sm-3 col-md-3">
                      <%= t ".product_name" %></th>
                    <th class="text-center col-sm-2 col-md-2">
                      <%= t ".quantity" %></th>
                    <th class="text-center col-sm-1 col-md-1">
                      <%= t ".price" %></th>
                    <th class="text-center col-sm-1 col-md-1">
                      <%= t ".total_price" %></th>
                    <th class="text-center col-sm-1 col-md-1"></th>
                  </thead>
                  <tbody>
                    <% @order_items.each_with_index do |order_item, index| %>
                      <tr>
                        <td class="text-center"><%= index + 1 %></td>
                        <td class="text-center">
                          <%= image_tag order_item.product.image,
                            alt: order_item.product.name,
                            class: "moto-widget-image-picture card-image" %>
                        </td>
                        <td class="text-center">
                          <%= order_item.product.name %>
                        </td>
                        <td class="text-center row">
                          <%= form_for [order_item.product, order_item],
                            method: :put do |f| %>
                            <div class="col-sm-6 col-md-6">
                            <%= f.number_field :quantity,
                              value: order_item.quantity,
                              class: "form-control" %>
                            </div>
                            <div class="col-sm-6 col-md-6">
                            <%= f.button :submit, title: t(".update"),
                              class: "btn btn-warning btn-circle btn-lg" do %>
                              <i class="fa fa-refresh" aria-hidden="true"></i>
                            <% end %>
                            </div>
                          <% end %>
                        </td>
                        <td class="text-center">
                          <strong>
                            <%= number_to_currency order_item.price %>
                          </strong>
                        </td>
                        <td class="text-center">
                          <strong>
                            <%= number_to_currency(order_item.quantity * order_item.price) %>
                          </strong>
                        </td>
                        <td class="text-center">
                          <div class="moto-widget moto-widget-button
                            moto-preset-3">
                            <%= link_to product_line_item_path(order_item.product,
                              order_item), method: :delete,
                              class: "btn btn-danger btn-circle btn-lg",
                              title: t(".delete") do %>
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6"></div>
              <div class="col-lg-6">
                <div class="row">
                  <table class="table table-hover total-checkout">
                    <tbody>
                      <tr class="row">
                        <td class="col-lg-6"><%= t ".total_items" %></td>
                        <td class="col-lg-6 text-right">
                          <%= current_order.number_items %> <%= t ".product" %>
                        </td>
                      </tr>
                      <tr class="row">
                        <td class="col-lg-6"><%= t ".subtotal" %></td>
                        <td class="col-lg-6 text-right">
                          <trong>
                            <%= number_to_currency current_order.total_price %>
                          </trong>
                        </td>
                      </tr>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
                <div class="row pull-right">
                  <%= link_to root_path, class: "btn btn-default" do %>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <%= t ".continue" %>
                  <% end %>
                  <%= link_to root_path, class: "btn btn-success" do %>
                    <%= t ".checkout" %>
                    <span class="glyphicon glyphicon-play"></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
