<tr class="gradeA odd" role="row">
  <td class="sorting_1"><%= category_counter + 1 %></td>
  <td class="sorting_1"><%= category.name %></td>
  <td class="sorting_1">
    <%= image_tag category.image, class: "image-size", alt: category.name %>
  </td>
  <td class="sorting_1">
    <%= I18n.localize category.created_at, format: :default %>
  </td>
  <td class="sorting_1">
    <%= link_to [:admin, category], class: "btn btn-warning btn-circle",
      title: t(".edit"), data: {"no-turbolink": :true} do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to [:admin, category], class: "btn btn-danger btn-circle",
      title: t(".delete"), method: :delete, data: {confirm: t(".confirm")} do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>
