<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Image</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Code</Data></Cell>
        <Cell><Data ss:Type="String">Parent code</Data></Cell>
      </Row>
    <% @categories.each do |object| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= object.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= object.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= object.image %></Data></Cell>
        <Cell><Data ss:Type="String"><%= object.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= object.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= object.parent_code %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
