<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track": true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track": true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "title_logo.png" %>
  <%= render "layouts/shim" %>
</head>
<body>
  <div id="wrapper">
  <%= render "layouts/admin/header" %>
  <div id="page-wrapper">
    <%= yield %>
  </div>
  </div>
</body>
</html>
